@page "{id:guid}"
@model BankDeposits.Razor.Pages.Accounts.AccountsEditPageModel

@{
    ViewData["Title"] = "Edit";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <form method="post">
        <input type="hidden" asp-for="Account.Id"/>
        <div class="form-group">
            <label asp-for="Account.Balance" class="control-label"></label>
            <input asp-for="Account.Balance" class="form-control"/>
            <span asp-validation-for="Account.Balance" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary"/>
        </div>
    </form>
</div>