@page "/NavMenu"
<h3>NavMenu</h3>

<div>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="depositors">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Depositors
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="accounts">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Accounts
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="deposits">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Deposits
            </NavLink>
        </div>
    </nav>
</div>