@typeparam T

<div class="container">
    @if (Items is not null)
    {
        <table class="table table-bordered">
            @if (TableHeader is not null)
            {
                <thead class="thead-dark">@TableHeader</thead>
            }
            <tbody>
            @foreach (var indexItem in IndexedItems!)
            {
                <tr>@RowContent(indexItem)</tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p>Loading...</p>
    }
</div>