@page "{id:guid}"
@model BankDeposits.Razor.Pages.Depositors.DepositorEditPageModel

@{
    ViewData["Title"] = "Edit";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <input type="hidden" asp-for="Depositor.Id"/>

    <div class="form-control">
        <label asp-for="Depositor.Name" class="control-label"></label>
        <input asp-for="Depositor.Name" class="form-control"/>
        <span asp-validation-for="Depositor.Name" class="text-danger"></span>
    </div>

    <div class="form-control">
        <label asp-for="Depositor.Surname" class="control-label"></label>
        <input asp-for="Depositor.Surname" class="form-control"/>
        <span asp-validation-for="Depositor.Surname" class="text-danger"></span>
    </div>

    <div class="form-control">
        <label asp-for="Depositor.Patronymic" class="control-label"></label>
        <input asp-for="Depositor.Patronymic" class="form-control"/>
        <span asp-validation-for="Depositor.Patronymic" class="text-danger"></span>
    </div>

    <div class="form-control">
        <label asp-for="Depositor.Address" class="control-label"></label>
        <input asp-for="Depositor.Address" class="form-control"/>
        <span asp-validation-for="Depositor.Address" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary"/>
    </div>
</form>